*.pyc
*.iml
*.mp4
.idea/
src/**/*.jpg
src/**/*.h264
src/**/*.xlsx
src/**/*.png
src/**/*.xml
src/**/*.csv
src/**/*.zip
src/**/*.json
dataset/**/*.jpg
dataset/**/*.png
dataset/**/*.mp4
dataset/**/*.json
dataset/**/*.pom
dataset/**/*.xml
ssd_keras/**/*.png
ssd_keras/**/*.jpg
ssd_keras/**/*.h5
ssd_keras/temp/*